modules = ["python-3.12"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "xcodebuild", "zlib"]

[workflows]
runButton = "Run Continuous Data Collection"

[[workflows.workflow]]
name = "Run Auto Data Collection"
author = 44797178
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Source && python auto_run_script.py"

[[workflows.workflow]]
name = "Run Legacy Yahoo Finance"
author = 44808585
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Source && python run_legacy_mode.py"

[[workflows.workflow]]
name = "Run Yahoo Finance Standalone"
author = 44808585
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Source && python run_yahoo_standalone.py"

[[workflows.workflow]]
name = "Run Continuous Data Collection"
author = 44808585
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Source && python auto_run_script.py"
